// # A Liveblog Update, eg. a blog post
// 
//

// Update wrapper
.update {
  @extend %clearfix;
}

.update-body {
  // to align with update number
  padding-top: $absolute-line-height / 2 - 4;
  color: $firefly80;
  @extend %clearfix;
}

// Update typography
.update-title {
  font-size: $x-large-font-size;
  line-height: 1.2;
  margin-bottom: $absolute-line-height;
  color: $firefly80;
  @include if-ltr {
    letter-spacing: -.03em;
  }
}

.update p {
  font-size: 16px;
  line-height: 1.4;
  margin: 0 0 $absolute-line-height 0;
  &:first-child {
    padding-top: $absolute-line-height / 3;
  }
}

// update node-media (?)
.update .node-media {
  @extend %clearfix;
  margin: 0 0 $absolute-line-height / 4 0;
}

// Reports in updates
//
// Can this be moved to all reports?
.update .report {
  margin-top: 0;
}

// Update footer
.update-footer {
  @include span-columns($total-columns);
  @include sans-serif-family;
  margin-#{$omega}: $gutter-width * 2;
  margin-bottom: 1em;
  color: $firefly20;
  a {
    color: $firefly20;
    &:hover {
      color: $firefly60;
      text-decoration: none;
    }
  }
}

.update-meta {
  @include reset-list-style;
  // float: $alpha;
  font-size: 16px;
  li {
    padding: $absolute-line-height / 4 0;
    border-bottom: 1px solid $firefly10;
    &:last-child {
      border-bottom: 0px none;
    }
    span {
      font-weight: 400;
    }
  }
}

// update byline
.update-by {
  line-height: 1;
  @extend %clearfix;
  margin-bottom: $absolute-line-height / 4;
  a {
    float: $alpha;
  }
  a:last-child {
    width: 78%;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
  .gravatar {
    width: 15px;
    margin: 0 $gutter-width / 2;
    text-align: center;
    img {
      @include square(15px);
    }
  }
}

// update actions
.update-actions {
  ul.content-actions {
    @include reset-box-model;
    @include reset-list-style;
    @include border-radius(4px);
    display: block;
    & > li {
      & > a {
        @include reset-box-model;
        color: $firefly60;
        display: block;
        &:hover {
          color: $firefly;
          text-decoration: none;
        }
        span {
          @include reset-box-model;
          display: inline-block;
          &:hover {
            color: $identity;
          }
          &.icon-reorder {
            @include icon(reorder, $small-font-size, $darker-grey);
            margin-#{$omega}: $gutter-width;
          }
        }
      }
    }
  }
  // content actions
}

// update actions