/// Colors array
$colors--tie-dye: 
  purple,
  $meedan-blue,
  $meedan-green, 
  $meedan-yellow,
  $meedan-yellow,
  $meedan-yellow,
  $meedan-green,
  $firefly,
  $meedan-blue,
  $meedan-grey;

/// Tie-dye Keyframe
/// Loop through each of the colors to define animation
@keyframes animation--tie-dye { 
  @for $i from 1 through length($colors--tie-dye) {
    #{$i*10}%{ 
      background-position:#{$i*10}% #{$i*5}% 
    }
  }
}

$timing--smooth: cubic-bezier(0.17, 0.67, 0.48, 1.28);

/// Tie Dye
/// The placeholder that uses the animation
/// Extend this to make an animated gradient
%tie-dye {
  background: aqua;
  background: linear-gradient(120deg, $colors--tie-dye);
  background-size: 600% 600%;
  animation: animation--tie-dye 50s $timing--smooth infinite;
}