////
/// Bridge Colors
/// These are the bridge colors.
///
/// @group bridge-style

/// Bridge International Orange
/// @type Color
$bridge-orange: #ff4f00;

/// Keyboard Grey
/// @type Color
$keyboard-grey: #abb5bd;

/// Keyboard Light Grey
/// @type Color
$light-keyboard-grey: #d1d6db;

/// Light Bridge International Orange
/// @type Color
$light-bridge-orange: #fff6f1;