/// Icon-base
/// 
/// @example 
///   .translation {
///     @extend %icon-base;
///     @extend %icon-annotation-pointer;
///   }
%icon-base {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
}

/// Icon-size
/// 
/// @example 
///   .translation {
///     @extend %icon-base;
///     width: $icon-size;
///     height: $icon-size;
///     @extend %icon-annotation-pointer;
///   }
$icon-size: 12px;