/// Fancy counters 
/// 
/// Lists with special section numbers
%fancy-counters { 
  ol {
    counter-reset: section;
    list-style-type: none;
  }
  li::before {
    counter-increment: section;
    content: "§" counters(section,".") " ";
  }
}

/// UI Guide Navigation
///
%nav {
  padding: 0;
  font-size: 13px;
  line-height: 1.4;
  @extend %fancy-counters;
  max-width: 500px;
  min-width: 250px;

  h3 {
    // border-bottom: 1px solid $light-keyboard-grey;
    padding: 1em;

  }
  h4 {
    font-size: 18px;
    color: black;
    padding: 0.6em;
  }

  // List of navigation items
  & > ol {
    padding: 2em 0;
    width: 100%;
    list-style-position: inside;

    & > li {
      border-bottom: 1px solid $light-keyboard-grey;
      width: 100%;
      padding: 0.3em 0em 0.3em 2em;
      text-indent: 0.5em;
      font-weight: 600;

      // Doesn't have any child lists
      &:not(.has-children) {
        padding: 0.3em 2em 0.3em 1em;  
      }
      
      // Child list
      & > ol {
        text-indent: 1em;
        border-left: 1px solid $light-keyboard-grey;
        & > li {
          font-weight: 600;
          font-size: 0.8em;
          padding: 0.2em 0;
          & > ol {
            font-weight: 400;
            text-indent: 1em; 
            li {
              margin: 0.3em 0;
              padding: 0 1em 0.3em;
              border-bottom: 1px solid $light-keyboard-grey;
            }
          }
        }
      }
    }
  }
  a {
    text-decoration: none;
    padding: 0.2em 1em;
    display: inline;
    color: black;
    vertical-align: middle;
    &:hover {
      background-color: lighten($light-keyboard-grey, 10%);
    }
  }
  .tag {
    clear: both;
    &:after {
      content: "W.I.P.";
      background-color: #5B7A8A;
      padding: 0.2em 0.4em;
      border-radius: 4px;
      color: white;
      font-size: 0.8em;
      float: right;
      text-indent: 0; 
      display: inline-block;
    }
    &.embeddable {
      &:after {
        background-color: #F2C052;
        color: black;
        content: "embeddable";  
      }
    }
    &.static {
      &:after {
        background-color: #1FB731;
        content: "static";
      }
    }
    &.graphics {
      &:after {
        background-color: #4100AC;
        content: "graphics";
      }
    } 
    &.form {
      &:after {
        background-color: #BA3C1D;
        content: "form";
      }
    }
  }
}