/// Minimalist scrollbars
/// 
/// Used by embeds, when needed. See the project section.
/// @group bridge-style
%scrollbars {
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $light-keyboard-grey;
    border-radius: 3px;
  }
}