// Meedan shared

// Colors used in all of Meedan
//
@import "meedan-style/colors";

// Typography used 
//
@import "meedan-style/typography";

.ui-guide--navigation {
  width: 20%;
  float: left;
  font-family: "open sans", "sans serif";
  a {
    text-decoration: underline;
    color: $tanzanite-blue;
  }
}

// Bridge
//
// @import "bridge-style/colors";
// @import "bridge-style/shared";
// @import "bridge-style/docs";
// @import "bridge-style/editor";
// @import "bridge-style/layout";
// @import "bridge-style/profile";
// @import "bridge-style/typography";
// @import "bridge-style/animation";
// @import "bridge-style/loading";
// @import "bridge-style/comics";
// @import "bridge-style/translation_page";
// @import "bridge-style/embed";
// @import "bridge-style/auth";
// @import "bridge-style/guide";

// Checkdesk 
// 
// Import the "official" checkdesk-style components 
// via bower
//
// @import "checkdesk-style/shared/colors";
// @import "checkdesk-style/style"; // This depends on compass

// @import "checkdesk-style/base";
// @import "checkdesk-style/forms";

// Checkdesk Work in progress
// 
// These files are stored locally (not official and bower'd yet).
@import "checkdesk-auth";