// Meedan shared

// Colors used in all of Meedan
//
@import "meedan-style/colors";

// Typography used 
//
@import "meedan-style/typography";

// Bridge
//
// @import "bridge-style/colors";
// @import "bridge-style/shared";
// @import "bridge-style/docs";
// @import "bridge-style/editor";
@import "bridge-style/layout";

// @import "bridge-style/profile";
// @import "bridge-style/typography";
// @import "bridge-style/animation";
// @import "bridge-style/loading";
// @import "bridge-style/comics";
// @import "bridge-style/translation_page";
// @import "bridge-style/embed";
// @import "bridge-style/auth";
// @import "bridge-style/guide";

// Checkdesk 
// 
// Import the "official" checkdesk-style components 
// via bower
//
// @import "checkdesk-style/shared/colors";
// @import "checkdesk-style/style"; // This depends on compass

// @import "checkdesk-style/base";
// @import "checkdesk-style/forms";

// Checkdesk Work in progress
// 
// These files are stored locally (not official and bower'd yet).

@import "checkdesk-auth";
@import "scrollbars";

// WIP
//
.ui-guide--navigation {
  width: 20%;
  margin: 0 auto;
  font-family: "open sans", "sans serif";
  a {
    text-decoration: underline;
    color: $tanzanite-blue;
  }
}

body {
  margin: 0;
}

$embed-container-description-height: 5em;

.embeds {
  @extend %clearfix;
  @extend %scrollbars;
  color: rgba(white, 0.8);
  font-family: "open sans", "sans serif";
  .embed {
    background-color: rgba($warm-color, 0.3);
    clear: none;
    float: left;
    height: 100%;
    overflow: scroll;
    position: relative;
    width: 25%;
    padding-bottom: 100px;
    h2 {
      background-color: $portland-purple;
      color: white;
      padding: 1em 1em 1em;
      display: block;
      position: fixed;
      text-align: center;
      z-index: 1;
      width: 25%;
      font-size: 24px;
      font-weight: 200;
    }
    iframe {
      padding-top: 100px;
    }
  }
  .description {
    @extend %clearfix;
    border: 3px solid rgba(black, 0.3);
    border-bottom-width: 0;
    border-right-width: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: $portland-purple;
    color: white;
    z-index: 1;
    color: white;
    font-size: 1.1em;
    padding: 1em;
    border-top-left-radius: 5px;
    font-weight: 300;
    text-align: right;
    a {
      background-color: rgba(white, 0.1);
      border-radius: 4px;
      padding: 0 0.4em;
      transition: 0.4s;
      color: white;
      &.translate:after {
        content: ".";
      }
      &.translate:hover:after {
        content: "!";
      }
      &:hover {
        background-color: rgba(black, 0.2);
        color: white;
        text-decoration: none;
      }
    }
  }
}

// Bridge meta documentation
// 
// Ported from bridge-ui — June 1 2015 CGB
//
.docs {
  background: $firefly90;
  color: $firefly;
  a {
    color: $firefly;
  }
  h1 {
    background-color: $firetruck-red;
    color: white;
    padding: 10px;
    @extend %font--hfj-whitney-bolditalic;
  }
  .container {
    margin-top: 100px;
    background: $firefly10;
    padding: 0.5em 0;
    margin: 0 auto;
    border-radius: 10px;
    // At larger sizes
    @media all and (min-width: 500px) {
      max-width: 500px;
    }
    p {
      padding: 0 1em;
    }
    ul {
      list-style-type: disc !important;
      // At smaller sizes
      @media all and (max-width: 500px) {
        li {
          line-height: 2em;
        }
        a {
          padding: 0.5em;
          background-color: #c3c3c3;
          display: inline-block;
          border-radius: 4px;
          margin: 4px;
        }
      }
    }
  }
}