////
/// This is the main stylesheet for the UI guide. 

// Colors
// 
$firefly2: #fafbfb;
$firefly: #10212f;
$checkdesk-yellow: #e4ba2a;
$light-keyboard-grey: #d1d6db;
$tanzanite-blue: #4910db;
$bridge-orange: #ff4f00;
$link-color: black;
$link-color-hover: #333333;
$meedan-orange: #f17522;
$meedan-rich-orange: #ea4918;
$meedan-burnt-orange: #843f18;
$meedan-green: #9dc538;
$meedan-green-dark: #01722f;
$meedan-green-saturated: #00a013;
$meedan-green-alt: #91a000;
$meedan-yellow: #fbd202;
$meedan-blue: #37a0de;
$meedan-grey: #7f7f7f;

// Google fonts
// 
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,900);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,900);

// Animated gradient technique
// 
@import "animated_gradient";

// Basic Typography
// 
@import "typography";

// Navigation
// 
@import "navigation";

// Images as base64 uri-data
// 
@import "data";

// Border-box model
// 
* {
  box-sizing: border-box;
}


// Render
// 
// Compose the page with the placeholders defined above.
// 
.docs, 
.style-guide {
  @extend %noisy-texture;
  color: $firefly;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 1.7;
  padding: 0;
  margin: 0;
  width: 100%;
  
  a {
    color: blue;
  }
  
  .doc-note {
    background-color: lighten(yellow, 20%);
  }
  
  main {
    margin-top: 2em;
    padding: 10px 3em;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    
    p {
      padding: 0.5em 0;
      margin: 0;
      font-family: Lato, serif;
    }
  }

  .header {
    padding: 1em;
    height: 120px;
    display: flex;
    align-content: center;
    align-items: center;

    div {
      width: 500px;
    }

    img { 
      width: 50px;
    }

    h1, h2 {
      color: black;
      padding: 0em 1em;
      font-size: 1em;
    }

    h2 {
      font-size: 0.8em;
    }

    .version {
      font-family: Lato, sans-serif;
      font-weight: 200;
      font-size: 0.4em;
    }
  }

  .ui-guide-navigation {
    @extend %nav;
  }
}

//  Written style guide
//  contains prose
.docs .written-style {
  padding: 4em;
  font-size: 19px;
  background-color: white;
  border: 1px solid $light-keyboard-grey;
  margin-top: -5em;
  max-width: 70%;
  min-width: 500px;
  @media all and (min-width: 1000px) {
    columns: 2;
    column-gap: 3em;
  }

  // The first paragrah
  p:first-of-type {
    font-size: 2em;
    font-family: "Playfair Display", serif;
    color: lighten(black, 2%);
    font-weight: 400;
  }

  // Second paragrah
  p:nth-of-type(2) {
    font-size: 0.8em;
    font-family: "Lato", serif;
    font-weight: 900;
    text-transform: uppercase;
    color: lighten(black, 20%);
    margin: 2em 0;
  }
}

// Logos in the documentation
.docs .logos {
  width: 200px;
  padding: 4em;
  img {
    max-width: 40px;
    max-height: 20px;
  }
}

// Tables in the documentation
.docs table {
  border: 4px double $light-keyboard-grey;
  width: 100%;
  font-size: 12px;
  td {
    padding: 1em;
    vertical-align: top;
    ul {
      list-style-type: none;
      li {
        padding: 0.2em;
      }
    }
    li:first-of-type {
      font-weight: bold;
    }
  }
}
