---
title: Report Detail View
status: prototype
layout: default
description: A report shared by Eliot Higgins 15 days ago
---
<!-- This is a full page view of a single report -->
<div class="page--report page">
  <%= partial "partials/sidebar" %>
  <div class="main">
    <div class="page--header">
      <div class="headers">
        <h2>
          <%= report.title %>
        </h2>
        <h3>A media accountability project started by Eliot Higgins 15 days ago</h3>
      </div>

      <%= partial "partials/team" %>
    </div>

    <%= partial "partials/report", :locals => { :report => report } %>
  </div>

  <button id="js--edit-mode">Edit mode</button>
</div>