---
title: Report Detail View
status: prototype
layout: default
description: A report shared by Eliot Higgins 15 days ago
---
<!-- This is a full page view of a single report -->
<div class="page--report page">
  <%= partial "partials/sidebar" %>
  <div class="main">
    <div class="page--header">
      <div class="headers">
        <h2>
          <%= report.title %>
        </h2>
        <h3>A media accountability project started by Eliot Higgins 15 days ago</h3>
      </div>

      <div class="team">
        <div class="headers">
          <h3>Eliot, Hak, Maxim + 7</h3>
          <h4><a href="#">Join our project</a></h4>
        </div>

        <div class="members">
          <div class="member"><img src="/images/prototype/eliot.png"></div>
          <div class="member"><img src="/images/prototype/hak.png"></div>
          <div class="member"><img src="/images/prototype/maxim.png"></div>
          <div class="member"><img src="/images/prototype/samir.png"></div>
          <div class="member"><img src="/images/prototype/sergey.png"></div>
          <div class="member"><img src="/images/prototype/surpher.png"></div>
          <div class="member"><img src="/images/prototype/vp.kivimaki_17.png"></div>
        </div>
      </div>
    </div>

    <%= partial "partials/report", :locals => { :report => report } %>
  </div>

  <button id="js--edit-mode">Edit mode</button>
</div>