// Field display
.field .field-label {
  font-weight: bold;
}

.field-label-inline .field-label,
.field-label-inline .field-items {
  float: $from-direction;
}

// Form display
form .field-multiple-table {
  margin: 0;
}

form .field-multiple-table th.field-label {
  padding-#{$from-direction}: 0;
}

form .field-multiple-table td.field-multiple-drag {
  width: 30px;
  padding-#{opposite-position($from-direction)}: 0;
}

form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {
  padding#{opposite-position($from-direction)}: .5em;
}

form .field-add-more-submit {
  margin-top: .5em;
}