.views-exposed-form .views-exposed-widget {
  float: $from-direction;
  padding: .5em 1em 0 0;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.6em;
}

.views-exposed-form .form-item,
.views-exposed-form .form-submit {
  margin-top: 0;
  margin-bottom: 0;
}

.views-exposed-form label {
  font-weight: bold;
}

.views-exposed-widgets {
  margin-bottom: .5em;
}

//  table style column align
.views-align-left {
  text-align: left;
}

.views-align-right {
  text-align: right;
}

.views-align-center {
  text-align: center;
}

// Remove the border on tbody that system puts in
.views-view-grid tbody {
  border-top: 0;
}

.view .progress-disabled {
  float: none;
}

.views-row {
  // The notorious link in the views-row
  // 
  // This is a very anonymous selector ...
  & > a {
    padding: $base-font-size 0;
    display: block;
    font-weight: bold;
  }
  // Views main title
  & > h1.title {
    padding: $base-font-size 0;
  }
  // Views paragraphs
  & > p {
    padding: $base-font-size 0;
  }
}