// Global declarations
// 
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  font-family: Roboto, helvetica, Arial, sans-serif;
  color: $firefly60;
  background-color: $thatch5-warm;
  a {
    color: $dodger-blue;
    &:visited {
      color: $dodger-blue;
    }
  }
}