#overlay {
  position:fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}

#modal {
  position: fixed;
  background: $dodger-blue;
  padding: 1em;
  overflow: hidden;
  height: 90vh!important;
  width: 90vh!important;
  z-index: 100;
  display: flex;
  margin: auto auto;
}

#content {
  // border-radius: 8px;
  // background: #fff;
  // padding: 20px;
  color: white;
}

#close {
  position:absolute;
  width: 24px;
  height: 27px;
  display: block;
  top: 2px;
  right: 2px;
  text-decoration: none;
  font-size: 2em;
  color: white;
}
