// Report detail page
// 
// The report is expanded to fill three columns
.page--report {
  background-color: $soft-blue;

  // Override the styles set in report.scss
  // 
  .report {
    align-content: stretch;
    display: flex;
    width: 100%;
  }
}

.report--section {
  flex: 1 auto;
  padding: 1em;

  // Column two
  // 
  &:nth-of-type(2) {
    flex: 2 auto;

    img {
      max-width: 300px;
    }
  }

  // Column three
  // 
  &:nth-of-type(3),
  &:nth-of-type(4) {
    background-color: $white;
    border-left: 1px solid $firefly30;
    height: 90vh;
    overflow-x: scroll;

    img {
      max-width: 300px;
      width: 100%;
    }
  }
}
