// A page contains a .header, .sidebar and .main
// 
.page {
  display: flex;
}
// Header
// 
.page--header {
  align-items: center;
  background-color: $white;
  border-bottom: 1px solid $firefly30;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
  padding: 1em 2em;

  // inner headers wrapper
  &>.headers {

    a {
      color: $firefly60;
      text-decoration: none;
    }

    h2 {
      font-size: 14px;
      margin-bottom: 0;
      margin-right: 1em;
      padding-right: 1em;
    }

    h3 {
      color: $firefly30;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
      padding: 0;
    }
  }
}

.page--sidebar {
  background: $white;
  border-right: 1px solid $firefly30;
  flex: 1 auto;
  min-height: 100vh;
  padding: 1em;
  @media all and (max-width: 700px) {
    display: none;
  }

  .branding {
    margin-top: 15px;
  }
}

.main {
  flex: 20 auto;
}

