// Project themes
// 
@import 'project-grid';
@import 'project-timeline';

// Reports list
// 
.project--reports {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  max-width: 100%;
  width: 100%;
}

// Apply the color themes
.page--project {
  background-color: $thatch5-warm;

  .report {
    box-shadow: 0 0 3px $firefly20;

    .checklog,
    .checklist {
      display: none;
    }
  }
}
