.progressjs-inner {
  width: 0;
}

.progressjs-progress {
  z-index: 9999999;
}

.progressjs-theme-blue {
  &.progressjs-end {
    opacity: 0;
    transition: opacity .2s ease-out;
  }

  .progressjs-inner {
    background-color: $dodger-blue;
    height: 2px;
    transition: background-color .3s ease-out;
  }

  .progressjs-percent {
    display: none;
  }
}
