// A Report: base styles
// 
// The report is themed by different views of the desk. 
// 
// See: desk-grid and desk-timeline.
//
//
// Base report has a white background
// 
// This is shared across all views of the report.
// 
.report {
  border-radius: 5px;
  color: $firefly60;
  overflow: hidden;
  font-size: 12px;
  padding: 0 0em 0em;

  & > * {
    padding: 0.2em 1em;
  }

  // Report title
  // 
  .report--title {
    padding: 0.8em 0;
    .fa {
      color: $firefly40;
    }
  }

  // Report helper text
  // 
  .report--helper-text {
    background: $soft-yellow;
    padding: 1em;
    margin: 0 0 1em;
    color: $firefly;
  }
  
  // Description is hidden
  // 
  .report--description {
    p {
      padding: 1em 0;
    }
  }

  p {
    margin: 0;
    padding: 0 1em;
  }

  // Contextual action buttons on each report
  //
  //
  //  This contains the trigger to show report-action
  //  (So, a little bit of the menu is always showing, to reveal the trigger)
  .report--contextual-action-menu {
    color: $firefly50;


    // Show and hide the checklist
    // 
    .js--toggle-checklist {
      font-size: 10px;
      display: block;
      text-decoration: none;
      text-align: right;
      padding: 1em;
      a {
        color: $firefly40;
      }
    }


    // At all sizes
    // 
    .report--actions {
      color: black;

      .report--action {
        margin: 1em 0;
        padding: 0.5em 0.3em;
        font-size: 14px;
        border: 1px solid $dodger-blue;
        border-radius: 5px;
        color: $dodger-blue;
        text-align: center;

        .helper-text {
          color: $firefly40;
          text-align: center;
        }

        a {
          text-decoration: none;
        }

        // The icon
        i {
          margin: 0 0.4em;
        }
      }
    }

    // At smaller sizes
    // 
    @media all and (max-width: 1000px) {
      .report-action {
        padding: 0.5em 1.3em;
        margin: 1em;
        font-size: 12px;
      }
      .helper-text {
        display: none;
        font-size: smaller;
      }
    }
    // At larger sizes
    // 
    @media all and (max-width: 1000px) {
      .report-action {
        padding: 0.5em 1.3em;
        margin: 1em;
        font-size: 14px;
      }
    }
  }

  // The media object core
  // 
  // By default it's full size.
  // 
  .report--media-object {
    img {
      width: 100%;
      max-width: 100%;
    }
  }

  // The status on a report
  // 
  .report--verification-status {
    color: $firefly60;
    padding: 0.5em 0;
    font-weight: bold;
    &:hover {
      cursor: pointer;
    }
    &.false {
      color: $false-red;
    }
    &.verified {
      color: $verified-green;
    }
  } 

  // The upstream origin URL
  // 
  .report--source-username {
   color: $firefly60;
  }

  // Added-by whom
  // 
  .report--added-by {
    .source-domain {
      color: $firefly;
      padding: 0.5em 0;
      .fa-youtube-play {
        color: $youtube-red;
      }
      .fa-facebook-official {
        color: $facebook-blue;
      }
      .fa-twitter {
        color: $twitter-blue;
      }
    }
    .datestamp { 
      color: $firefly30;
    }
    .username { 
      font-weight: 700; 
      &:before {
        content: "by ";
      }
    }
  }

  // The checklog
  // 
  .report--checklog {
    padding: 1em 0;
    line-height: 1.4;
    .checklog--header {
      display: flex;
      h4 {
        flex: 4 auto;
        margin: 0;
        width: 80%;
      }
      .checklog--actions {
        flex: 1 auto;
        width: 20%;
        color: $firefly40;
        text-align: right;
      }
    }

    p {
      margin: 0.6em 0;
    }

    a {
      vertical-align: bottom;
      display: inline-block;
      max-width: 250px;
      color: $dodger-blue;
      text-decoration: none;
      overflow: hidden;
      text-overflow: ellipsis;
      border-radius: 4px;
      white-space: nowrap;
      line-height: 1.4
    }

    ul {
      list-style-type: none;
      
      li.checklog--entry {
        display: flex;
        padding-top: 1.5em;
        border-left: 1px solid $firefly30;

        .checklog--entry-icons {
          width: 30px;
          position: relative;

          // The default avatar (A "secondary" sized update
          // )
          .dot {
            width: 4px;
            height: 4px;
            margin-top: 10px;
            background-color: $firefly60;
            outline: 2px solid $soft-blue;
            left: -2px;
            border-radius: 2px;
            display: block;
            position: absolute;
          } 
        }

        // The default entry body
        .checklog--entry-body {
          .username {
            display: inline-block;
            font-weight: 700;
          }
          .log-entry {
            p, div {
              display: inline-block;
              padding: 0;
              margin: 0;
            }
          }
        }

        .timestamp {
          font-size: 0.8em;
          color: $firefly40;
          display: block;
        }

        // A "primary" entry in the checklog
        //
        &.primary {
          .checklog--entry-icons {
            .avatar {
              position: absolute;
              width: 30px;
              height: 30px;
              border-radius: 4px;
              vertical-align: middle;
              left: -15px;
              margin-top: 0.5em;
            }
          }
          .checklog--entry-body {
            background-color: white;
            border-radius: 4px;
            border: 1px solid $firefly10;
            padding: 0.5em 1em;
            width: auto;
            .username {
              font-size: 1.2em;
              font-weight: bold;
              display: block;
            }
            .status-change {
              font-weight: bold;
              em {
                font-style: normal;
                text-transform: capitalize;
              }
              &.verified {
                color: green;
              }
            }
          }
        }
      }
    }
  }
}