/*
Sass::SyntaxError: You may not @extend an outer selector from within @media.
You may only @extend selectors within the same directive.
From "@extend %clearfix" on line 106 of assets/sass/checkdesk/shared/_layout.scss.


Backtrace:
assets/sass/checkdesk/shared/_mixins.scss:106
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/selector/simple_sequence.rb:244:in `check_directives_match!'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/selector/simple_sequence.rb:155:in `block (2 levels) in do_extend'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/selector/simple_sequence.rb:155:in `each'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/selector/simple_sequence.rb:155:in `block in do_extend'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/selector/simple_sequence.rb:145:in `map!'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/selector/simple_sequence.rb:145:in `do_extend'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/selector/sequence.rb:94:in `block in do_extend'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/selector/sequence.rb:92:in `map'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/selector/sequence.rb:92:in `do_extend'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/selector/comma_sequence.rb:60:in `block in do_extend'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/selector/comma_sequence.rb:59:in `map'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/selector/comma_sequence.rb:59:in `do_extend'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/tree/visitors/extend.rb:44:in `visit_rule'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/tree/visitors/extend.rb:28:in `visit'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/tree/visitors/extend.rb:37:in `visit_children'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/tree/visitors/base.rb:38:in `visit'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/tree/visitors/extend.rb:28:in `visit'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/tree/visitors/extend.rb:15:in `visit'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/tree/root_node.rb:39:in `css_tree'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/tree/root_node.rb:20:in `render'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/engine.rb:274:in `render'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/plugin/compiler.rb:483:in `update_stylesheet'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/plugin/compiler.rb:214:in `block in update_stylesheets'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/plugin/compiler.rb:208:in `each'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/plugin/compiler.rb:208:in `update_stylesheets'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/plugin/compiler.rb:290:in `watch'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/plugin.rb:108:in `method_missing'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/exec.rb:509:in `watch_or_update'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/exec.rb:346:in `process_result'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/exec.rb:43:in `parse'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/lib/sass/exec.rb:22:in `parse!'
/Users/chris/.rvm/gems/ruby-2.1.0/gems/sass-3.3.13/bin/sass:13:in `<top (required)>'
/usr/bin/sass:23:in `load'
/usr/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: You may not @extend an outer selector from within @media.\A You may only @extend selectors within the same directive.\A From \"@extend %clearfix\" on line 106 of assets/sass/checkdesk/shared/_layout.scss.\A "; }
