@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Patrick+Hand|Patrick+Hand+SC);
* {
  box-sizing: border-box; }

.bridge-translation-page .bridge--header .page-tags:after {
  content: "";
  display: table;
  clear: both; }

/* incase an inverted custom gradient isn't specified */
body {
  padding: 1em; }

button {
  line-height: 1.7; }

section {
  -webkit-column-break-inside: avoid;
     page-break-inside: avoid;
          break-inside: avoid-column;
  padding: 2em;
  background-color: #e7e8ea;
  margin: 0 1em 1em 1em; }

ul li {
  list-style-type: none; }

.bridge-translation-page .bridge--header .page-actions li.icon, .branch:before {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.bridge-translation-page .bridge--header .page-actions li.icon, .branch:before {
  width: 25px;
  height: 25px;
  background-position: 50% 45%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8); }
  .bridge-translation-page .bridge--header .page-actions li.icon:hover, .branch:hover:before {
    -webkit-filter: opacity(1);
            filter: opacity(1);
    cursor: pointer; }

.bridge-translation-page .bridge--header .page-actions li.share {
  background-image: url("/assets/images/icons/paper-plane-7.png"); }

.bridge-translation-page .bridge--header .page-actions li.flag {
  background-image: url("/assets/images/icons/flag-7.png"); }

.bridge-translation-page .bridge--header .page-actions li.bookmark {
  background-image: url("/assets/images/icons/star-7.png"); }

.branch:before {
  background-image: url("/assets/images/icons/spanner-7.png"); }

.bridge-translation-page .bridge--header .page-actions li.help {
  background-image: url("/assets/images/icons/lifebuoy-7.png"); }

.docs {
  background: #283743;
  color: #10212f; }
  .docs a {
    color: #10212f; }
  .docs h1 {
    background-color: #b80900;
    color: white;
    padding: 10px; }
  .docs .container {
    margin-top: 100px;
    background: #e7e8ea;
    padding: 0.5em 0;
    margin: 0 auto;
    border-radius: 10px; }
    @media all and (min-width: 500px) {
      .docs .container {
        max-width: 500px; } }
    .docs .container p {
      padding: 0 1em; }
    .docs .container ul {
      list-style-type: disc !important; }
      @media all and (max-width: 500px) {
        .docs .container ul li {
          line-height: 2em; }
        .docs .container ul a {
          padding: 0.5em;
          background-color: #c3c3c3;
          display: inline-block;
          margin: 4px; } }

.translation-editor {
  color: #c3c3c3;
  width: 100%;
  padding: 1em; }

.avatar, .translation-support div {
  height: 2em;
  width: 2em;
  background: rgba(0, 0, 0, 0.1);
  margin: 0.5em;
  float: left; }

.timestamp {
  float: right;
  color: rgba(0, 0, 0, 0.2); }

.translation-support {
  display: block;
  background: rgba(0, 0, 0, 0.1); }
  .translation-support div {
    width: 20%;
    height: 20%;
    max-height: 100px;
    max-width: 100px;
    font-size: 10px;
    padding: 10px; }

.translation {
  clear: both;
  padding-top: 10px; }

.comment p {
  margin: 0.5em; }
.comment .avatar {
  margin: 0;
  margin-right: 0.5em;
  border-radius: 100%; }
.comment h4 {
  padding: 0;
  margin: 0;
  line-height: 2em; }

.reply {
  padding-left: 20%; }

.layout-primary, .layout-tertiary {
  float: left;
  width: 65%; }

.layout-secondary {
  float: left;
  width: 25%;
  font-size: 0.8em;
  clear: none; }

h2, body {
  font-family: "Whitney SSm A", "Whitney SSm B";
  font-weight: 400;
  font-style: normal; }

.docs h1 {
  font-family: "Whitney SSm A", "Whitney SSm B";
  font-weight: 700;
  font-style: italic; }

h1 {
  font-family: 'Mercury Display A', 'Mercury Display B';
  font-weight: 700;
  font-style: normal; }

body {
  color: #404d59; }

a {
  color: #10212f; }

@-webkit-keyframes expand-in {
  0% {
    height: 10px;
    overflow: hidden; }

  100% {
    height: 100%;
    overflow: visible; } }

@keyframes expand-in {
  0% {
    height: 10px;
    overflow: hidden; }

  100% {
    height: 100%;
    overflow: visible; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.bridgeEmbed__item:first-of-type .bridgeEmbed__item-embedly-card {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: scaleout 1s infinite ease-in-out;
  animation: scaleout 1s infinite ease-in-out; }

@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }

@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0); }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0; } }

* {
  box-sizing: border-box; }

section.comic li.on-screen {
  position: relative;
  margin: 0 0;
  background: white;
  border: 1em solid rgba(0, 0, 0, 0.2);
  display: none;
  border-radius: 50%/10%;
  color: white;
  text-align: center;
  text-indent: .1em;
  font-size: 0.1em; }
  section.comic li.on-screen:before {
    content: '';
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: -5%;
    left: -5%;
    border-radius: 5%/50%; }

section.comic li {
  position: relative; }
  section.comic li[class*='--']:after {
    border-radius: 50%;
    border: 0.3em white solid;
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.2);
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    width: 5em;
    height: 5em;
    right: 0.1em;
    bottom: 0.1em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  section.comic li.tre--working:after {
    background-image: url("../images/avatars/beard-dude.jpg"); }
  section.comic li.tre--happy:after {
    background-image: url("../images/avatars/beard-dude.jpg"); }
  section.comic li.tre--confused:after {
    background-image: url("../images/avatars/beard-dude.jpg"); }
  section.comic li.amira--happy:after {
    background-image: url("../images/avatars/amira.jpg"); }
  section.comic li.patrick--happy:after {
    background-image: url("../images/avatars/blue-dude.jpg"); }

.comics {
  font-family: 'Patrick Hand', cursive; }

section.comic {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0;
  font-size: 0.7em; }
  section.comic h3 {
    font-family: 'Patrick Hand SC', cursive; }
  section.comic ol {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  section.comic li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0em 1em;
    padding: 0.5em 0.5em 5em;
    list-style-type: none;
    line-height: 1.4;
    overflow: hidden; }
    section.comic li p {
      background-color: white;
      height: 50%;
      padding: 1em;
      color: #283743; }

.pain-point {
  color: #b80900;
  padding: 0.5em 0.3em;
  font-family: 'Patrick Hand SC', cursive;
  text-transform: uppercase; }
  .pain-point:before {
    content: "☞ "; }

table {
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
  margin: 1em 0; }
  table th {
    background-color: green;
    color: rgba(255, 255, 255, 0.8);
    padding: 0.3em;
    text-transform: uppercase;
    font-family: 'Patrick Hand SC', cursive; }
  table td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em; }

.bridge-translation-page {
  background: url("/assets/images/translation-page.jpg") no-repeat;
  padding: 0; }
  .bridge-translation-page .container {
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
    background-color: rgba(0, 255, 255, 0.5);
    width: 800px; }
  .bridge-translation-page .logo {
    width: 5em;
    margin: 1em 0 0;
    padding: 0 0.5em;
    font-size: 25px;
    float: left; }
  .bridge-translation-page section {
    width: 550px;
    padding: 0.5em 2.5em; }
    .bridge-translation-page section > h2 {
      border-bottom: 1px solid grey; }
  .bridge-translation-page .bridge--header {
    padding: 0;
    width: 100%; }
    .bridge-translation-page .bridge--header .page-byline {
      text-align: center;
      width: 170px;
      float: left;
      margin-left: 20%;
      padding: 1em 0;
      font-size: 12px; }
    .bridge-translation-page .bridge--header .page-actions {
      border-width: 0;
      margin: 0;
      padding: 0;
      float: right;
      clear: none;
      margin-top: 1.5em; }
      .bridge-translation-page .bridge--header .page-actions li {
        float: right;
        margin: 0 0.2em; }
    .bridge-translation-page .bridge--header .page-tags {
      background-color: #4910db;
      text-align: center;
      clear: both;
      padding: 0.5em 1em 1em;
      margin-top: 0;
      clear: both;
      text-align: center; }
      .bridge-translation-page .bridge--header .page-tags li {
        display: inline-block; }
        .bridge-translation-page .bridge--header .page-tags li.primary {
          clear: both;
          width: 100%; }
      .bridge-translation-page .bridge--header .page-tags a {
        font-size: 1.2em;
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 0.3em 1em;
        font-weight: 200; }

.branch {
  background-color: #db107c;
  padding: 1em;
  font-size: 12px;
  color: white;
  text-decoration: none;
  float: right;
  clear: both;
  padding: 1em; }
  .branch:before {
    content: "";
    width: 1em;
    height: 1em;
    display: block;
    float: left;
    margin-right: 1em; }

.bridge--translation .section-nav a {
  padding: 1em;
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
.bridge--translation .section-nav .current {
  border-bottom: 2px solid #db107c; }

.bridgeEmbed__item-geodata {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 100; }

.bridgeEmbed__item-geodata:hover:after, .bridgeEmbed__item-geodata .icon, .bridgeEmbed__item-geodata {
  width: 12px;
  height: 12px; }

.bridgeEmbed__item-geodata:hover:after, .bridgeEmbed__item-geodata .icon {
  display: inline-block;
  background-size: cover;
  background-image: url("/assets/images/icons/pin-map-7.png");
  background-repeat: no-repeat;
  margin-right: 5px; }

.bridgeEmbed__item-geodata {
  overflow: hidden;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5); }
  .bridgeEmbed__item-geodata:hover {
    -webkit-filter: opacity(1);
            filter: opacity(1);
    overflow: visible;
    display: block;
    width: auto;
    height: auto; }
    .bridgeEmbed__item-geodata:hover:after {
      content: "Map it!";
      -webkit-animation: fadeInUp 0.5s;
      animation: fadeInUp 0.5s; }
    .bridgeEmbed__item-geodata:hover a {
      -webkit-animation: fadeInUp 1s;
      animation: fadeInUp 1s;
      color: #1d5ca2;
      text-decoration: underline;
      padding: 0.3em; }
    .bridgeEmbed__item-geodata:hover .icon {
      display: none; }

.bridgeEmbed__item-geodata {
  font-size: 10px; }
  .bridgeEmbed__item-geodata a {
    text-decoration: none; }
  .bridgeEmbed__item-geodata .icon:hover {
    -webkit-filter: opacity(0.8);
            filter: opacity(0.8); }

.bridgeEmbed__item-geodata {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 100; }

.bridgeEmbed__item-geodata:hover:after, .bridgeEmbed__item-geodata .icon, .bridgeEmbed__item-geodata {
  width: 12px;
  height: 12px; }

.bridgeEmbed__item-geodata:hover:after, .bridgeEmbed__item-geodata .icon {
  display: inline-block;
  background-size: cover;
  background-image: url("/assets/images/icons/pin-map-7.png");
  background-repeat: no-repeat;
  margin-right: 5px; }

.bridgeEmbed__item-geodata {
  overflow: hidden;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5); }
  .bridgeEmbed__item-geodata:hover {
    -webkit-filter: opacity(1);
            filter: opacity(1);
    overflow: visible;
    display: block;
    width: auto;
    height: auto; }
    .bridgeEmbed__item-geodata:hover:after {
      content: "Map it!";
      -webkit-animation: fadeInUp 0.5s;
      animation: fadeInUp 0.5s; }
    .bridgeEmbed__item-geodata:hover a {
      -webkit-animation: fadeInUp 1s;
      animation: fadeInUp 1s;
      color: #1d5ca2;
      text-decoration: underline;
      padding: 0.3em; }
    .bridgeEmbed__item-geodata:hover .icon {
      display: none; }

.bridgeEmbed__item-geodata {
  font-size: 10px; }
  .bridgeEmbed__item-geodata a {
    text-decoration: none; }
  .bridgeEmbed__item-geodata .icon:hover {
    -webkit-filter: opacity(0.8);
            filter: opacity(0.8); }

body.bridgeEmbed {
  -webkit-animation: fade-in 2s;
  animation: fade-in 2s;
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin: 0 auto;
  padding: 1em 0.5em;
  background-color: #f2f0eb; }

.byline {
  color: rgba(66, 71, 111, 0.8) !important;
  margin-top: 0.5em; }

.bridgeEmbed__item {
  clear: both;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.3em 1em 1em;
  margin: 1em auto;
  position: relative;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05); }
  .bridgeEmbed__item > iframe {
    margin: 0 auto;
    max-width: 580px !important; }
  .bridgeEmbed__item:first-of-type {
    margin-top: 0; }

.bridgeEmbed__item-translation {
  color: rgba(0, 0, 0, 0.9);
  margin: 0 auto;
  max-width: 580px; }
  .bridgeEmbed__item-translation .translation {
    max-width: 580px;
    font-size: 1.2em;
    font-weight: 500; }
    .bridgeEmbed__item-translation .translation a {
      color: #154376;
      text-decoration: none;
      border-bottom: 2px solid white; }
      .bridgeEmbed__item-translation .translation a:hover {
        border-bottom: 2px solid #d8e5f3; }
    .bridgeEmbed__item-translation .translation p {
      max-width: 580px;
      padding: 1em; }
    .bridgeEmbed__item-translation .translation p:empty {
      display: none; }
  .bridgeEmbed__item-translation .byline {
    font-style: italic;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.85);
    padding: 0.5em 2em 1em;
    margin: 0; }
    .bridgeEmbed__item-translation .byline:before {
      content: "—"; }
  .bridgeEmbed__item-translation p {
    margin: 0; }

.bridgeEmbed__item-comment {
  padding: 0 1em;
  font-size: smaller;
  color: rgba(89, 109, 116, 0.5);
  font-weight: 200;
  clear: both;
  margin: 0 auto;
  max-width: 580px; }
  .bridgeEmbed__item-comment a {
    color: rgba(29, 92, 162, 0.6);
    text-decoration: none;
    font-weight: 600; }
    .bridgeEmbed__item-comment a:hover {
      text-decoration: underline; }

#bridgeEmbed__footer {
  display: block;
  padding: 2em;
  text-align: center;
  -webkit-filter: opacity(0.3);
          filter: opacity(0.3); }

.bridgeEmbed__item:first-of-type .bridgeEmbed__item-embedly-card {
  display: block; }
