<div class="team">
  <div class="team--headers">
    <h3>Eliot, Hak, Maxim + 7</h3>
    <h4><a class="js--invite-teammate" href="#">Invite a new teammate</a></h4>
  </div>

  <div class="team--your-team">
    <div class="member">
      <img src="/images/prototype/eliot.png">
    </div>
    <div class="member">
      <img src="/images/prototype/hak.png">
    </div>
    <div class="member">
      <img src="/images/prototype/maxim.png">
    </div>
    <div class="member">
      <img src="/images/prototype/samir.png">
    </div>
    <div class="member">
      <img src="/images/prototype/sergey.png">
    </div>
    <div class="member">
      <img src="/images/prototype/surpher.png">
    </div>
  </div>

  <div class="team--you">
    <div class="member">
      <img src="/images/prototype/vp.kivimaki_17.png">
      <i class="fa fa-angle-down"></i>
    </div>
  </div>
</div>