// Checkdesk base
//
// A central place for all of the Sass theme configuration.

// First: Apply Normalize.css
//
// This standardizes browser behavior.
@import "scss-normalize/normalize";

// Line heights
//
// Defaults in both relative and absolute units are helpful.
$relative-line-height: 1.5;
$absolute-line-height: 24px;
$base-font-size: 18px;
$base-line-height: $absolute-line-height;

// ## Modular scale
//
// @import "modular-scale";

$ms-base: 18px 1168px;

// @debug ms-list;

// $smallest-font-size: ms(-2);
// $smaller-font-size: ms(-1);

// $small-font-size: 15px;
// $base-font-size: ms(0);
// $large-font-size: 20px;
// $larger-font-size: ms(1);
// $x-large-font-size: ms(2);
// $xx-large-font-size: ms(3);
// $xxx-large-font-size: ms(4);
// $largest-font-size: ms(5);

$smallest-font-size: 10px;
$smaller-font-size: 12px;
$small-font-size: 15px;
$base-font-size: 18px;
$large-font-size: 20px;
$larger-font-size: 28px;
$x-large-font-size: 36px;
$xx-large-font-size: 48px;
$xxx-large-font-size: 60px;
$largest-font-size: 72px;

// These are legacy values from bootstrap
$font-size-large: $base-font-size * 1.25;
$font-size-small: $base-font-size * 0.85;
$font-size-mini: $base-font-size * 0.75;

// Now that default variables are set, import compass
//
@import "compass-mixins/lib/compass/reset/utilities";
@import "compass-mixins/lib/compass/support";

@import "compass-mixins/lib/compass/css3/background-clip";
@import "compass-mixins/lib/compass/css3/background-origin";
@import "compass-mixins/lib/compass/css3/border-radius";
@import "compass-mixins/lib/compass/css3/box-shadow";
@import "compass-mixins/lib/compass/css3/box-sizing";
@import "compass-mixins/lib/compass/css3/font-face";
@import "compass-mixins/lib/compass/css3/hyphenation";
@import "compass-mixins/lib/compass/css3/images";
@import "compass-mixins/lib/compass/css3/opacity";
@import "compass-mixins/lib/compass/css3/transform";
@import "compass-mixins/lib/compass/css3/transition";
@import "compass-mixins/lib/compass/css3/text-shadow";
@import "compass-mixins/lib/compass/css3/columns";

// @import "compass-mixins/lib/compass/typography/vertical_rhythm";
@import "compass-mixins/lib/compass/typography/links/link-colors";

// Layout — The main layout shared by all pages
//
// @import "susy/sass/susyone";

* {
  @include box-sizing("border-box");
}

$from-direction: left;
$alpha: $from-direction;
$omega: opposite-position($from-direction);

$z-index-dropdown: 900 !default;
$z-index-popover: 910 !default;
$z-index-tooltip: 930 !default;
$z-index-fixed-navbar: 930 !default;
$z-index-modal-backdrop: 940 !default;
$z-index-modal: 950 !default;

$container-width: 30em;

// Navigation configuration
//
$navbar-height: 38px;
$nav-width: $container-width;
$nav-font-size: 14px;
$nav-icon-height: 15px;
$nav-line-height: $nav-icon-height;
$nav-height: $nav-icon-height + 7 * 2;
$nav-gutter: 11px;

// Admin toolbar and drawer
//
$toolbar-menu-height: 30px;
$drawer-menu-height: 35px;
$toolbar-height: $toolbar-menu-height + $drawer-menu-height;

// Notifications (currently in navigation)
//
$notification-dropdown-width: modular-scale(11);
$notification-width: 5;
$notification-icon-size: $small-font-size;
$notification-image-width: 5%;
$notifications-icon-selector: ".heartbeat-time-ago";

// Reports
//
$report-width-px: 400px;
$report-width: $container-width;

// Forms
//
$label-width: $container-width / 2;
$checkbox-width: 25px;
$input-height: $absolute-line-height + 18px;

// Notifications
//
$notification-dropdown-width: modular-scale(11);
$notification-width: 5;
$notification-icon-size: $small-font-size;
$notification-image-width: 5%;
$notifications-icon-selector: ".heartbeat-time-ago";

// Misc Values
//
// Standardize our box-radius
$radius: 4px;
$gutter-width: 10px;

// Debugger
//
// debug mode for @debug statements and other sass debuggers
$debug: true;

$total-columns: 24;

@mixin container {
  @extend clearfix;
}

@mixin span-columns($columns: 6, $total-columns: 24, $gutter-width: $gutter-width) {
  width: $columns / $total-columns * 100%;
}

@mixin reset-columns {
  float: none;
  width: auto;
  margin-left: auto;
}

@mixin pad($foo: bar, $baz: bazbar, $quux: quuxbar) {}