.page.search {
  padding-top: 70px;

  h3 {
    color: $firefly-80;
    margin-top: 20px;
    text-align: center;
  }
  h4 {
    text-align: center;
    color: $firefly-30;
    font-weight: 200;
  }

  .header {
    display: flex;
    justify-content: space-between;
    input.search { 
      background: 10px 12px url("/images/search.png") #f9f9f9  no-repeat;
      border-radius: 4px;
      border: none;
      flex: 20;
      height: 44px;
      min-width: 500px;
      padding-left: 50px;
      margin-top: 4px;
    }
    .header-actions {
      flex: 1;
    }
  }

  .filters {
    padding: 32px 0;
    max-width: 1200px;
    margin: 0 auto;
    div {
      display: flex;
      margin-top: 2em;
      max-height: 160px;
      overflow-y: auto;
      h4 {
        flex: 1;
        color: $firefly-80;
        margin: 0;
        vertical-align: top;
        display: inline-block;
        margin-right: 16px;
        min-width: 80px;
        text-align: right;
      }
      ul {
        flex: 10;
      }
    }
  }

  section.results {
    background-color: $white;
    padding-top: 16px;
    ul.results {
      max-width: $report-max-width;
      margin: 0 auto;
      & > li {
        margin-top: 8px;
      }
    }
  }
}