$header-offset: 100px;

.page.report {
  padding-top: $header-offset;
}

// Fade in things
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.medias-list li, 
.annotations-list li {
  opacity:0;  /* start hidden */
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:0.6s;
  &:nth-of-type(1) {
    animation-duration:0.2s;
  }
  &:nth-of-type(2) {
    animation-duration:0.4s;
  }
  &:nth-of-type(3) {
    animation-duration:0.5s;
  }
}

// Reports
// 
.media-detail__media {
  max-width: $report-max-width;
  margin: 24px auto;
  display: block!important;

  h3.headline {
    @include media-title(24px);
    margin: 8px 16px;
    &:empty {
      display: none;
    }
  }

  p.description {
    margin: 8px 16px 16px;
    line-height: 1.4;
    font-weight: 100;
    color: $firefly-60-8;
    &:empty {
      display: none;
    }
  }

  // Align the status icon with the network icon
  .media-status__current {
    margin-left: 8px;
  }

  // Ensure text is not hyper linked
  &:hover {
    text-decoration: none;
  }

  img {
    border-radius: 3px;
  }

  // Statuses 
  &--verified {
    border: 1px solid $green-500;
  }
  
  &--undetermined {
    border:1px solid $blue-500;
  }
  
  &--in-progress {
    border: 1px solid $orange-500;
  }

  &--false {
    border: 1px solid $red-500;
  }

  // Final metadata row
  .check-metadata {
    @extend %metadata;
  }
}

// Pender cards inside reports
//
.pender-card {
  background-color: $white;
  border: 1px solid $firefly-60-1;
  border-radius: 4px;
  padding: 8px;
  margin: 0 8px;
  min-height: 0;
  color: $firefly-80;

  .card-header {
    display: flex;
    align-items: flex-start;
    .network-icon {
      width: 20px;
      margin-right: 8px;
      & > .fa { 
        font-size: 20px;
      }
    }
    .author-avatar {
      margin-right: 14px;
    }

    .header-text-primary {
      display: flex;
      overflow: hidden;
      flex-direction: column;
      flex: 10;
      a {
        color: $firefly-80;
        &:hover {
          color: $check-blue;
        }
        &:active {
          color: $firefly;
        }
      }
      .name {
        font-size: 16px;
        font-weight: 600;
        color: $firefly-80;
      }
      .username {
        font-size: 14px;
        color: $firefly-40;
      }
    }
    .header-text-secondary {
      font-size: 14px;
      color: $firefly-40; 
      margin-right: 20px;
      text-align: right;
      padding-left: 8px;
    }
  }

  .card-body {
    align-items: flex-start;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    margin: 14px 20px 14px 28px;
    position: relative;

    .body-text {
      padding-right: 8px;
    }
  }

  .card-footer {
    @extend %metadata;
    padding-left: 0;
    padding-right: 20px;
  }
}

// Claim only
.pender-card.claim {
  .claim-body {
    display: flex;
  }
  .claim-text {
    font-size: 24px;
    font-weight: 100;
    margin-left: 8px;
  }
  .claim-attribution {
    display: flex;
    justify-content: flex-end;
    div {
      display: flex;
      flex-direction: column;
    }
    .claim-attribution-name,
    .claim-attribution-link {
      color: $firefly-30;
      margin: 3px 7px;
      font-weight: 200;
      font-size: 14px;
      max-width: 200px;
      @extend %ellipsis;
    }
    .claim-attribution-name {
      font-size: 16px;
      max-width: 300px;
    }
  }
}

// Reports on project page
//
.page__project {

  // Hide some elements
  .author-avatar,
  ul.card-footer, 
  p.claim-attribution-link {
    display: none;
  }

  // Smaller typography and image
  .card-body {
    font-size: 14px;
    .body-image img {
      width: 40px;
    }
  }

  // Ensure center alignment since there is only one row in this view
  .pender-card .card-header {
    align-items: center;
  }

  // Re-flow the header text
  .header-text-primary {
    flex-direction: row!important;
    align-content: center;
  }

  .name, 
  .username {
    width: auto;
    overflow: hidden;
    padding-right: 8px;
    line-height: 16px;
  }
}

// Clickable card for videos
//
.report.youtube {
  .card-body {
    position: relative;
    .body-image img {
      width: 100px;
      height: 60px;
    }
    .body-image:before {
      color: rgba(white, 0.7);
      content: "\f04b";
      display: block;
      font-family: FontAwesome;
      font-size: 1.5em;
      height: 40px;
      position: absolute;
      right: 40px;
      text-align: center;
      top: 15px;
    }
  }
}