.login-menu {
  background-color: $lighter-gray-bg;
  .login-menu__disclaimer {
    background-color: yellow;
    color: rgba(black, 0.8);
    padding: 0.4em;
    span.icon-warning {
      font-size: 2em;
      vertical-align: middle;
      margin-right: 1em;
    }
  }
}

.login-menu__content {
  margin: 4em auto;
}

.electionland button {
  font-size: 1.6em;
  height: 60px;
  margin-bottom: 2em;
}

.electionland, 
.not-electionland, 
.confused {
  margin: 4em 0;
  border-bottom: 1px solid $firefly-20;
  padding-bottom: 2em;
}

#login-email {
  @include button-medium;
  @extend .login-menu__button;
  background-color: $firefly-40;
  text-align: center;
  text-decoration: none;
  &:hover { background-color: $firefly-80; }
}