$viber-purple: #655bac;
@import url('//fonts.googleapis.com/earlyaccess/notonaskharabic.css');
@import url('//fonts.googleapis.com/css?family=Roboto');

.viber-bot-translation {
  display: flex;
  flex-wrap: wrap;

  [lang='ar'] {
    direction: rtl;
    font-family: 'Noto Naskh Arabic', serif;
    line-height: 1.7;
  }

  .card {
    $size: 600px;
    align-content: center;
    background-color: $viber-purple;
    color: #ffffff;
    display: flex;
    flex-flow: nowrap column;
    height: $size;
    justify-content: center;
    margin: 5px;
    overflow: hidden;
    padding: 45px;
    width: $size;
  }

  p {
    color: rgba(256, 256, 256, 0.50);
    font-family: Roboto;
    text-align: right;
  }
}
