#media-url-container {
  display: flex;
  padding-left: 10px;
  margin-top: 16px;
}

.create-media {
  @include box_shadow(1);
  border-radius: 4px;
  background-color: $white;
  margin: 16px 0 32px;
  padding: 8px 0 8px 8px;
}

.create-media__button--new {
  display: none; // TODO: restyle
  float: left;
  @include button-defaults;
  background: #2962FF; //A700
  color: #fff;
  $size: 60px; 
  height: $size; 
  width: $size;
  font-size: $size * 0.8;
  font-weight: 200;
  border-radius: $size;
  margin-right: 10px;
}

.create-media__buttons {
  text-align: right;
  border-left: 1px solid $layout-border;
  display: flex;
  align-items: center;
  span {
    color: $firefly-40;
  }
  #create-media-preview {
    display: none!important;
  }
}

p.electionland.slack-heads-up {
  font-size: 12px;
  color: $firefly-40;
  padding: 0 8px;
  margin-bottom: 0;
}
