$viber-purple: #655bac;
@import url('//fonts.googleapis.com/earlyaccess/notonaskharabic.css');
@import url('//fonts.googleapis.com/css?family=Roboto');

.viber-bot-translation {
  display: flex;
  flex-wrap: wrap;

  [lang='ar'] {
    direction: rtl;
  }

  .card {
    align-content: center;
    background-color: $viber-purple;
    color: #ffffff;
    display: flex;
    flex-flow: nowrap column;
    height: 48vw;
    justify-content: center;
    margin: 5px;
    min-width: 500px;
    overflow: hidden;
    padding: 32px;
    width: 48vw;
  }

  h1 {
    font-family: 'Noto Naskh Arabic', serif;
  }

  p {
    color: rgba(256, 256, 256, 0.50);
    font-family: Roboto;
    text-align: right;
  }
}