@import "2016-10-18-check-styles/stylesheet.scss";
@import "prototype-shared.scss";
@import "prototype-forms.scss";
@import "prototype-report.scss";
@import "prototype-search.scss";
@import "prototype-project.scss";
@import "prototype-create-media.scss";
@import "prototype-header.scss";
@import "prototype-authentication.scss";
@import "prototype-expanding-textarea.scss";

.pattern_list {
  margin: 0 auto; 
  max-width: 800px;
  padding: 1em;

  p { 
    color: $firefly-60; 
  }
  
  h2 {
    border-top: 1px solid $firefly-10;
    padding-top: 1em;
    margin-bottom: 0.2em;
  }
}