@import "2016-10-11-stylesheet.scss";

$claim-icon-offset: 50px;

// Prototype styles
// 
body.prototype {
  background-color: #FAFBFB;
  padding: 1em; 
}

h2.prototype {
  font-family: $font-stack-sans-condensed;
}

// Claim
// 
.media-detail__media {
  max-width: 800px;
  background-color: white;
}

.pender-card {
  border: 1px solid $lightestgrey; 
  border-radius: 4px;
  padding: 1em;
}

.media-detail__claim-text {
  font-size: 24px;
  font-weight: 100;
  margin-left: $claim-icon-offset;
  &:before {
    content: "\f10d";
    font-family: FontAwesome;
    font-size: 30px;
    padding: 0 10px;
    display: inline-block;
    color: #CFD3D5;
    margin-left: -$claim-icon-offset;
  }
}

.media-detail__claim-attribution,
.media-detail__claim-attribution-link 
{
  color: $lightergrey;
  text-align: right;
  margin: 7px;
}

// Claim form 
// 

.form-header {
  display: flex;
  span.status {
    flex: 4;
    text-transform: uppercase;
    color: #2e77fc;
    font-size: 14px;
    font-weight: 700;
  }
  .buttons {
    flex: 1;
    color: #cfd3d5;
    margin-bottom: 1em;
    font-size: 14px;
  }

  button.submit {
    background-color: #2e77fc;
    color: #ffffff;
    border-radius: 4px;
    padding: 8px 10px;
    margin-left: 10px;
    font-weight: 400;
    letter-spacing: 1px;
  }
}


form.claim {
  max-width: 800px;
  background-color: white;
  padding: 1em;
  font-size: 18px;

  label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }

  

  input {
    margin: 1em 0;
    display: block;
    border-width: 0;
    border-bottom: 1px solid #CFD3D5;
    line-height: 1.8em;
    width: 100%;
    margin-top: 0;
    font-weight: 100;
    outline: 0;
    font-size: 16px;
  }

  input.claim-text {
    font-size: 24px;
    letter-spacing: 1px;
  }
}

.required {
  color: #D0021B;
  padding: 0 2px;
}

label .button {
  display: inline-block;
  border-radius: 3px;
  background-color: #C4D1DB;
  color: #8799A6;
  padding: 2px 10px;
  font-weight: 200;
  font-size: 12px;
  margin: 2px 2px 2px 2px;
  &.active {
    color: #ffffff;
    background-color: #404D59;
  }
}