<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Bridge Components</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6545452/628984/css/fonts.css" />
  <link rel="stylesheet" href="/css/style.css">
  <!-- <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/assets/js/mermaid.full.js"></script>
  <script src="/assets/js/embed-child.js"></script>
  <script async src="//cdn.embedly.com/widgets/platform.js"> </script> -->
</head>


<body ng-app="app">
	<div class="wrapper">
		<div class="form-wrapper">
			<h3>Sign In to Bridge</h3>
			<form name="form" novalidate>
				<div class="form-group" 
						ng-class='{ "has-focus": form.name.hasFocus,
						"has-success": form.name.$valid,
						"has-error": form.name.$invalid && (form.$submitted || form.name.$touched),
						"is-empty": !form.name.$viewValue }'>
					<label for="name">Enter a Name</label>
					<input type="text" name="name" ng-model="user.name" required
						ng-focus='form.name.hasFocus=true', ng-blur='form.name.hasFocus=false'>
					<p ng-show="form.name.$error.required && (form.name.$touched || submitted)" 
						class="error-block">Name is Required</p>
				</div>
				<div class="form-group" 
						ng-class='{ "has-focus": form.email.hasFocus,
						"has-success": form.email.$valid,
						"has-error": form.email.$invalid && (form.$submitted || form.email.$touched),
						"is-empty": !form.email.$viewValue }'>
					<label for="email">Enter an Email</label>
					<input type="email" name="email" ng-model="user.email" required
						ng-focus='form.email.hasFocus=true', ng-blur='form.email.hasFocus=false' autocomplete="off">
					<p ng-show="form.email.$error.required && (form.email.$touched || submitted)" class="error-block">Email is Required</p>
					<p ng-show="form.email.$error.email && (form.email.$touched || submitted)" class="error-block">Email is Invalid</p>
				</div>
			</form>
		</div>
	</div>

	<script src="lib/angular/angular.js"></script>
	
	<!-- Using angular for validation ala https://github.com/sambhav-gore/material-input-fields -->
	<script>
	  'use strict'
	  angular.module("app",[]);
	</script>
</body>
</html>