// see: https://github.com/sambhav-gore/material-input-fields

body {
  background: $firefly80;
}

$sign-in-width: 340px;
$label-focus-color: $accent-blue;
$error-color: $cerise-pink;
$success-color: forestgreen;
$twitter-blue: hsl(203, 75%, 45%);
$facebook-blue: hsl(219, 56%, 34%);

h1 {
  color: rgba(white, 0.4);
  padding-bottom: 20px;
  width: $sign-in-width;
  margin: 1em auto;
  text-align: center;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  @extend %font--hfj-whitney-normal;
  font-weight: 200;
  letter-spacing: 0.02em;
  font-size: 1.5em;
}

button {
  color: white;
  border-radius: 4px;
  border-width: 0;
  padding: 1.3em;
  font-size: 0.9em;
  display: block;
  width: 100%;
  margin: 1em 0;
}

button.twitter {
  background-color: $twitter-blue;
}

button.facebook {
  background-color: $facebook-blue;
}

.wrapper {
  width: 100%;
}

.form-wrapper {
  width: $sign-in-width;
  margin: 2em auto;
  padding: 2em 1em;
  background: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.form-group {
  /*styles for the form-group itself*/
  position: relative;
  width: 100%;
  margin-bottom: 42px;
  input[type='text'],input[type='email'], input[type='text'],input[type='password'] {
    /*Default styles for field*/
    position: relative;
    width: 100%;
    background: 0 0;
    padding: 1em 0.3em 0.5em;
    font-size: 1.3em;
    line-height: 1.8;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-width: 1px;
    box-shadow: none;
    z-index: 1;
    &:focus {
      outline: 0;
    }
  }
  label {
    /*Default styles for label*/
    display: inline-block;
    position: absolute;
    top: 0;
    font-size: 0.8em;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.4);
    padding: 0.2em;
    transition: all .1s ease;
    filter: opacity(0.8);
  }
  &::after {
    /* The line underneath */
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.08);
    transition: all .3s ease;
  }
  .error-block {
    /* Default Styles for validation error message block */
    position: absolute;
    line-height: 0;
    font-weight: 300;
    color: $error-color;
    line-height: 2;
    transition: all 0.5s ease;
    margin: 0;
    font-size: 0.8em;
    &.ng-hide {
      display: block !important;
      visibility: hidden;
      opacity: 0;
    }
  }
  &.has-focus {
    /*When field has focus*/
    label {
      color: $label-focus-color;
    }
    &::after {
      left: 0;
      background: $label-focus-color;
      width: 100%;
      /*We are changing the width of the pseudo element from 0 to 100%. As there is already transition added to it, the change in width will 'animate'. As we have strategically positioned this pseudo element just below the input with a 2px height, it will 'appear' as bottom-border for the input (which it is actually not)*/
    }
  }
  &.has-error {
    /*When field has error*/
    label {
      color: $error-color;
    }
    &::after {
      left: 0;
      background: $error-color;
      width: 100%;
    }
    .help-block:not(.ng-hide) {
      position: absolute;
      color: $error-color;
      opacity: 1;
      visibility: visible;
      top: 100%;
    }
  }
  &.has-success.has-focus {
    /*When field has success*/
    label {
      color: $success-color;
    }
    &.has-focus::after {
      left: 0;
      background: $success-color;
      width: 100%;
    }
  }
  // when field is empty but does not have focus
  &.is-empty:not(.has-focus) label {
    // font-weight: 400;
    // font-size: 14px;
 
  }
}