* {
  box-sizing: border-box;
}

%on-screen {
  position: relative;
  margin: 0 0;
  background: white;
  border: 1em solid rgba(black, 0.2);
  display: none;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
  font-size: 0.1em;
  &:before {
    content: '';
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: -5%;
    left: -5%;
    border-radius: 5% / 50%;
  }
}

// User scenarios
//
%comic-avatar {
  position: relative;
  // The avatar of the person
  &[class*='--']:after {
    border-radius: 50%;
    border: 0.3em white solid;
    box-shadow: 0 0.1em 0.3em rgba(black, 0.2);
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    width: 5em;
    height: 5em;
    right: 0.1em;
    bottom: 0.1em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &.tre--working:after {
    background-image: url("../assets/images/avatars/beard-dude.jpg");
  }
  &.tre--happy:after {
    background-image: url("../assets/images/avatars/beard-dude.jpg");
  }
  &.tre--confused:after {
    background-image: url("../assets/images/avatars/beard-dude.jpg");
  }
  &.amira--happy:after {
    background-image: url("../assets/images/avatars/amira.jpg");
  }
  &.patrick--happy:after {
    background-image: url("../assets/images/avatars/blue-dude.jpg");
  }
}

.comics {
  font-family: 'Patrick Hand', cursive;
}

section.comic {
  position: relative;
  background-color: rgba(black, 0.1);
  flex: 1;
  padding: 0;
  font-size: 0.7em;
  // &.tre {
  //   border:10px solid red;
  // }
  // &.patrick, &.amira {
  //   border:10px solid pink;
  // }
  h3 {
    font-family: 'Patrick Hand SC', cursive;
  }
  ol {
    margin: 0;
    padding: 0;
    display: flex;
  }
  li {
    flex: 1;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-content: stretch;
    // background-color: white;
    margin: 0em 1em;
    padding: 0.5em 0.5em 5em;
    list-style-type: none;
    line-height: 1.4;
    overflow: hidden;
    @extend %comic-avatar;
    &.on-screen {
      @extend %on-screen;
    }
    p {
      background-color: white;
      height: 50%;
      padding: 1em;
      color: $firefly90;
    }
  }
}

.pain-point {
  color: $firetruck-red;
  padding: 0.5em 0.3em;
  font-family: 'Patrick Hand SC', cursive;
  text-transform: uppercase;
  &:before {
    content: "☞ ";
  }
}

// a table represents a CSV file in the comic :)
table {
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
  margin: 1em 0;
  th {
    // @extend %font--hfj-whitney-bold;
    background-color: green;
    color: rgba(white, 0.8);
    padding: 0.3em;
    text-transform: uppercase;
    font-family: 'Patrick Hand SC', cursive;
  }
  td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em;
  }
}