// User scenarios
//
%comic-state-base {
  position: relative;
  // The avatar of the person
  &:after {
    border-radius: 50%;
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    width: 5em;
    height: 5em;
    right: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.comics {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 0.6em;
  font-family: 'Patrick Hand', cursive;
}

section.comic {
  position: relative;
  background-color: black;
  margin: 0;
  &.layout-two ol { column-count: 2; }
  &.layout-three ol { column-count: 3; }
  &.layout-four ol { column-count: 4; }
  li {
    display: inline-block;
    background-color: white;
    padding: 1em;
    list-style-type: none;
    height: 20em;
    line-height: 1.4;
    @extend %comic-state-base;
    &.tre--working:after { background-image: url("../images/avatars/beard-dude.jpg"); }
    &.tre--happy:after { background-image: url("../images/avatars/beard-dude.jpg"); }
    &.tre--confused:after { background-image: url("../images/avatars/beard-dude.jpg"); }
    &.amira--happy:after { background-image: url("../images/avatars/amira.jpg"); }
    &.patrick--happy:after { background-image: url("../images/avatars/blue-dude.jpg"); }

    p {
      background: white;
      color: $firefly90;
      margin: 0;
      padding: 1em 0 0;
      position: relative;
      &>:after {
        content: ' ';
        height: 0;
        position: absolute;
        bottom: -16px;
        width: 0;
        border: 10px solid transparent;
        border-top-color: #fff;
      }
    }
  }
}

.pain-point {
  color: $firetruck-red;
  padding: 0.5em 0.3em;
  font-family: 'Patrick Hand SC', cursive;
}

// a table represents a CSV file in the comic :)
table {
  border: 1px solid rgba(0,0,0,0.5);
  margin: 1em;
  th {
    @extend %font--hfj-whitney-bold;
  }
  td {
    border: 1px solid rgba(0,0,0,0.5);
  }
}
