// User scenarios
//
%comic-state-base {
  position: relative;
  // The avatar of the person
  &:after {
    border-radius: 50%;
    border: 0.3em white solid;
    box-shadow: 0 0.1em 0.3em rgba(black, 0.2);
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    width: 5em;
    height: 5em;
    right: 0.1em;
    bottom: 0.1em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.comics {
  font-size: 0.9em;
  font-family: 'Patrick Hand', cursive;
}

section.comic {
  position: relative;
  background-color: rgba(black, 0.1);
  display: flex;
  h3 {
    font-family: 'Patrick Hand SC', cursive;
    flex: 1;
    font-size: 2em;
  }

  ol {
    margin: 0;
    padding: 0;
    flex: 7;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-content: stretch;
  }
  li {
    flex: 1;
    background-color: white;
    // box-shadow: 3px 3px 10px rgba(black, 0.2);
    margin: 0.5em;
    padding: 1em;
    list-style-type: none;
    line-height: 1.4;
    overflow: hidden;
    @extend %comic-state-base;
    &.tre--working:after { background-image: url("../images/avatars/beard-dude.jpg"); }
    &.tre--happy:after { background-image: url("../images/avatars/beard-dude.jpg"); }
    &.tre--confused:after { background-image: url("../images/avatars/beard-dude.jpg"); }
    &.amira--happy:after { background-image: url("../images/avatars/amira.jpg"); }
    &.patrick--happy:after { background-image: url("../images/avatars/blue-dude.jpg"); }
    &.spreadsheet {
      flex: 2;
    }
    p {
      color: $firefly90;
      position: relative;
    }
  }
}

.pain-point {
  color: $firetruck-red;
  padding: 0.5em 0.3em;
  font-family: 'Patrick Hand SC', cursive;
  text-transform: uppercase;
  &:before {
    content: "☞ ";
    font-size: 1.3em;
  }
}

// a table represents a CSV file in the comic :)
table {
  border: 1px solid rgba(0,0,0,0.2);
  color: rgba(0,0,0,0.8);
  margin: 1em 0;
  th {
    // @extend %font--hfj-whitney-bold;
    background-color: green;
    color: rgba(white, 0.8);
    padding: 0.3em;
    text-transform: uppercase;
    font-family: 'Patrick Hand SC', cursive;
  }
  td {
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1em;
  }
}


.spreadsheet.small table {
  font-size: 0.1em;
}
