@import "bridge/geodata";
@import "bridge/loading";

$embedly-max-width: 580px;

// ## Style Guide
//
// .moduleName {}
// .moduleName__element {}
// .moduleName__element–is–modified {}

// ## Main structure
//
body.bridgeEmbed {
  @include animation("fade-in 2s");
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin: 0 auto;
  padding: 1em 0.5em;
  background-color: $light-warm-color;
}

.byline {
  color: rgba($portland-purple, 0.8) !important;
  margin-top: 0.5em;
}

.bridgeEmbed__item {
  clear: both;
  overflow: hidden;
  background-color: rgba(white, 0.8);
  @include border-radius(8px);
  padding: 0.3em 1em 1em;
  margin: 1em auto;
  position: relative;
  @include box-shadow(0px 4px 40px rgba(0,0,0,0.05));
  & > iframe {
    margin: 0 auto;
    max-width: $embedly-max-width!important;
  }
  &:first-of-type {
    margin-top: 0;
  }
}

.bridgeEmbed__item-translation {
  color: rgba(black, 0.9);
  margin: 0 auto;
  max-width: $embedly-max-width;

  .translation {
    max-width: $embedly-max-width;
    font-size: 1.2em;
    font-weight: 500;
    a {
      color: rgba(darken($another-blue, 10%), 1);
      text-decoration: none;
      border-bottom: 2px solid $light-blue;
      &:hover {
        border-bottom: 2px solid darken($light-blue, 10%);
      }
    }
    p {
      max-width: $embedly-max-width;
      padding: 1em;
    }
    p:empty {
      display: none;
    }
  }
  .byline {
    font-style: italic;
    font-weight: 700;
    color: $byline-color;
    padding: 0.5em 2em 1em;
    margin: 0;
    &:before {
      content: "—";
    }
  }
  p {
    margin: 0;
  }
}

.bridgeEmbed__item-comment {
  padding: 0 1em;
  font-size: smaller;
  color: $translation-comment-blue;
  font-weight: 200;
  clear: both;
  margin: 0 auto;
  max-width: $embedly-max-width;

  a {
    color: $translation-comment-link-blue;
    text-decoration: none;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
}

#bridgeEmbed__footer {
  display: block;
  padding: 2em;
  text-align: center;
  @include opacity(0.3);
}

.bridgeEmbed__item:first-of-type .bridgeEmbed__item-embedly-card {
  @extend %loading;
  display: block;
}
