.style-guide {
  .container {
    border-radius: 4px;
    padding: 2em;
  }
}

dl {
  margin: 2em;
  dt {
    margin-top: 1em;
    color: white;
  }
  dd {
    background-color: white;
    padding: 1em;
    border-radius: 4px;
    width: 500px;
  }
}

.container {

}
