---
title: Geolocation and Analysis of Ministry of Defence Airstrike Videos
status: prototype 
layout: default
description: A media accountability project started by Eliot Higgins 15 days ago
---
<div class="page--project page js-view-class">
  <%= partial "partials/sidebar" %>

  <div class="main">
    <%= partial "partials/header" %>

    <ul class="project--stylesheet-switcher js-view-class">
      <li><a class="timeline" href="/prototype/project?view=timeline"><i class="fa fa-list-ul"></i>Timeline</a></li>
      <li><a class="grid" href="/prototype/project?view=grid"><i class="fa fa-th"></i>Grid</a></li>
    </ul>

    <div class="project--reports">
      <!-- Loop through each report in 'data/reports' -->
      <% data.reports.each do |report| %>
        <%= partial "partials/report", :locals => { :report => report } %>
      <% end %>

      <!-- Loop a second time just to show more reports -->
      <% data.reports.each do |report| %>
        <%= partial "partials/report", :locals => { :report => report } %>
      <% end %>
    </div>
  </div>
</div>