// Translation page

$tanzanite-blue: #4910db;
$xiaowei-pink: #db107c;

.bridge-translation-page {
  // background: url("/assets/images/translation-page.jpg") no-repeat;
  padding: 0;
  .container {
    // @include opacity(0.5);
    // background-color: rgba(cyan, 0.5);
    width: 800px;
  }
  .logo {
    width: 5em;
    margin: 1em 0 0;
    padding: 0 0.5em;
    font-size: 25px;
    float: left;
  }
  section {
    padding: 0;
    width: 600px;
    padding: 2em;
    & > h2 {
      border-bottom: 1px solid grey;
    }
  }
  .bridge--header {
    padding: 0;
    width: 100%;
    .page-byline {
      text-align: center;
      width: 170px;
      float: left;
      margin-left: 20%;
      padding: 1em 0;
      font-size: 12px;
    }
    .page-actions {
      @include reset-box-model;
      float: right;
      clear: none;
      margin-top: 1.5em;
      li {
        float: right;
        margin: 0 0.2em;
        &.icon {
          @extend %icon-base;
        }
        &.share {
          @extend %icon-share;
        }
        &.flag {
          @extend %icon-flag;
        }
        &.help {
          @extend %icon-help;
        }
        &.bookmark {
          @extend %icon-bookmark;
        }
      }
    }
    .page-tags {
      background-color: $tanzanite-blue;
      text-align: center;
      clear: both;
      padding: 0.5em 1em 1em;
      margin-top: 0;
      clear: both;
      @extend %clearfix;
      text-align: center;
      li {
        display: inline-block;
        &.primary {
          clear: both;
          width: 100%;
        }
      }
      a {
        font-size: 1.3em;
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 0.5em 1em;
      }
    }
  }
}

.branch {
  background-color: $xiaowei-pink;
  padding: 1em;
  font-size: 15px;
  color: white;
  text-decoration: none;
  float: right;
  clear: both;
  padding: 1em;
  &:before {
    content: "";
    @extend %icon-base;
    @extend %icon-branch;
    width: 1em;
    height: 1em;
    display: block;
    float: left;
    margin-right: 1em;
  }
}

.bridge--translation {
  .section-nav {
    a {
      padding: 1em;
      display: inline-block;
      border-bottom: 1px solid rgba(black, 0.5);
    }
    .current {
      border-bottom: 2px solid $xiaowei-pink;
    }
  }
}