// Translation page

.bridge-translation-page {
  border: 10px solid pink;
  background-image: url("/assets/images/translation-page.jpg");
  p {}
  .logo {
    padding: 5em 2em;
    width: 150px;
    font-size: larger;
    background-color: rgba(yellow, 0.7);
  }
  .container {
    @include opacity(0.5);
    background-color: rgba(cyan, 0.5);
    border: 1px solid black;
    padding: 5em;
    width: 850px;
    margin-left: 5em;
  }
}