// The canvas module inside the meme module
// 
.m-canvas {
  width: 70%;

  // Constrain the canvas to 100%
  // 
  // The goal is to allow the generated image to be high-resolution but still fit on the screen.
  // 
  canvas {
    max-width: 100%;
  }

  // The download button
  // 
  .m-canvas__download a {
    background: $theme-color;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    transition: background-color ease-in-out 0.3s;
    .icon {
      font-size: 20px;
      margin: 0 10px;
    }
    &:hover {
      background: lighten($theme-color, 25);
    }
  }
}
