@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,900);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,900);
* {
  box-sizing: border-box; }

body h1, body h2, body h3, body h4 {
  margin: 0;
  padding: 2em 0 1em 0; }
body a {
  color: black;
  text-decoration: none; }
body a:hover {
  color: #333333;
  text-decoration: underline; }
body small {
  font-size: 0.8em; }
body strong {
  font-weight: bold; }
body em {
  font-style: italic; }
body cite {
  font-style: normal; }
body ul, body ol {
  padding: 0;
  margin: 0;
  list-style-position: inside; }
body ul ul, body ul ol, body ol ol, body ol ul {
  margin-bottom: 0; }
body hr {
  margin: 1em 0;
  border: 0;
  border-top: 1px solid #c3c3c3;
  border-bottom: 1px solid #ffffff; }
body abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #333; }
body blockquote {
  margin: 2em;
  padding: 1em;
  border-left: 5px solid #333;
  font-size: 0.8; }

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 0%; }

  10% {
    background-position: 10% 15%; }

  20% {
    background-position: 20% 25%; }

  30% {
    background-position: 30% 35%; }

  40% {
    background-position: 40% 45%; }

  50% {
    background-position: 50% 55%; }

  60% {
    background-position: 60% 65%; }

  70% {
    background-position: 70% 75%; }

  80% {
    background-position: 80% 85%; }

  90% {
    background-position: 90% 95%; }

  100% {
    background-position: 100% 100%; } }

@keyframes gradient {
  0% {
    background-position: 0% 0%; }

  10% {
    background-position: 10% 15%; }

  20% {
    background-position: 20% 25%; }

  30% {
    background-position: 30% 35%; }

  40% {
    background-position: 40% 45%; }

  50% {
    background-position: 50% 55%; }

  60% {
    background-position: 60% 65%; }

  70% {
    background-position: 70% 75%; }

  80% {
    background-position: 80% 85%; }

  90% {
    background-position: 90% 95%; }

  100% {
    background-position: 100% 100%; } }

.docs .header, .style-guide .header {
  background: -webkit-linear-gradient(330deg, black, #01722f, #37a0de, #9dc538, #00a013, #fbd202, #f17522, #ea4918, #843f18, #7f7f7f);
  background: linear-gradient(120deg, black, #01722f, #37a0de, #9dc538, #00a013, #fbd202, #f17522, #ea4918, #843f18, #7f7f7f);
  background-size: 600% 600%;
  -webkit-animation: gradient 3s ease infinite;
          animation: gradient 3s ease infinite;
  padding: 1em; }
  .docs .header h1, .style-guide .header h1, .docs .header h2, .style-guide .header h2 {
    color: white;
    padding: 10px;
    font-size: 1.5em; }
  .docs .header h2, .style-guide .header h2 {
    font-size: 1em; }
  .docs .header .version, .style-guide .header .version {
    font-family: Lato, sans-serif;
    font-weight: 200;
    font-size: 0.4em; }

.docs .ui-guide-navigation ol, .style-guide .ui-guide-navigation ol {
  counter-reset: section;
  list-style-type: none; }
.docs .ui-guide-navigation li::before, .style-guide .ui-guide-navigation li::before {
  counter-increment: section;
  content: "§" counters(section, ".") " "; }

.docs .ui-guide-navigation, .style-guide .ui-guide-navigation {
  margin: 0 auto;
  padding: 2em;
  width: 100%;
  font-size: 16px;
  line-height: 1.4;
  max-width: 500px;
  min-width: 400px; }
  .docs .ui-guide-navigation h3, .style-guide .ui-guide-navigation h3 {
    padding: 1em; }
  .docs .ui-guide-navigation h4, .style-guide .ui-guide-navigation h4 {
    font-size: 18px;
    color: black;
    padding: 0.6em; }
  .docs .ui-guide-navigation > ol, .style-guide .ui-guide-navigation > ol {
    padding: 2em 0em;
    width: 100%;
    list-style-position: inside; }
    .docs .ui-guide-navigation > ol > li, .style-guide .ui-guide-navigation > ol > li {
      border-bottom: 1px solid #d1d6db;
      width: 100%;
      padding: 0.3em;
      text-indent: 0.5em;
      font-weight: 600; }
      .docs .ui-guide-navigation > ol > li > ol, .style-guide .ui-guide-navigation > ol > li > ol {
        text-indent: 1em; }
        .docs .ui-guide-navigation > ol > li > ol > li, .style-guide .ui-guide-navigation > ol > li > ol > li {
          font-weight: 600;
          padding: 0.2em; }
          .docs .ui-guide-navigation > ol > li > ol > li > ol, .style-guide .ui-guide-navigation > ol > li > ol > li > ol {
            font-weight: 400;
            text-indent: 1em; }
            .docs .ui-guide-navigation > ol > li > ol > li > ol li, .style-guide .ui-guide-navigation > ol > li > ol > li > ol li {
              margin: 0.3em; }
  .docs .ui-guide-navigation a, .style-guide .ui-guide-navigation a {
    text-decoration: none;
    padding: 0.2em 1em;
    display: inline;
    color: blue;
    vertical-align: middle; }
    .docs .ui-guide-navigation a:hover, .style-guide .ui-guide-navigation a:hover {
      background-color: #eeeff1; }
  .docs .ui-guide-navigation .tag, .style-guide .ui-guide-navigation .tag {
    clear: both; }
    .docs .ui-guide-navigation .tag:after, .style-guide .ui-guide-navigation .tag:after {
      content: "W.I.P.";
      background-color: #5B7A8A;
      padding: 0.2em 0.4em;
      border-radius: 4px;
      color: white;
      font-size: 0.8em;
      float: right;
      text-indent: 0;
      display: inline-block; }
    .docs .ui-guide-navigation .tag.embeddable:after, .style-guide .ui-guide-navigation .tag.embeddable:after {
      background-color: #F2C052;
      color: black;
      content: "embeddable"; }
    .docs .ui-guide-navigation .tag.static:after, .style-guide .ui-guide-navigation .tag.static:after {
      background-color: #1FB731;
      content: "static"; }
    .docs .ui-guide-navigation .tag.graphics:after, .style-guide .ui-guide-navigation .tag.graphics:after {
      background-color: #4100AC;
      content: "graphics"; }
    .docs .ui-guide-navigation .tag.form:after, .style-guide .ui-guide-navigation .tag.form:after {
      background-color: #BA3C1D;
      content: "form"; }

.wip {
  opacity: 0.3; }

li.deprecated a {
  text-decoration: line-through; }

.docs, .style-guide {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIElEQVQYV2NcvWXv/1AfZ0YGAoCgApj+UYV4Q5Lo4AEAZS8EC9qICkMAAAAASUVORK5CYII=") repeat; }

.docs, .style-guide {
  color: #10212f;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 1.7;
  padding: 0;
  margin: 0; }
  .docs main, .style-guide main {
    padding: 1em; }
  .docs a, .style-guide a {
    color: #10212f; }
  .docs .doc-note, .style-guide .doc-note {
    background-color: yellow; }
  .docs main, .style-guide main {
    margin-top: 100px;
    padding: 10px 1em;
    margin: 0 auto;
    border-radius: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media all and (min-width: 500px) {
      .docs main, .style-guide main {
        max-width: 100%; } }
    .docs main p, .style-guide main p {
      padding: 0.5em 0;
      margin: 0;
      font-family: 'Playfair Display', serif; }

.written-style {
  padding: 5em;
  font-size: 19px;
  background-color: white; }
  @media all and (min-width: 1000px) {
    .written-style {
      -webkit-columns: 2;
         -moz-columns: 2;
              columns: 2;
      -webkit-column-gap: 10em;
         -moz-column-gap: 10em;
              column-gap: 10em; } }
  .written-style p:first-of-type {
    font-size: 2em; }
  .written-style table {
    border: 4px double #d1d6db;
    width: 100%; }
    .written-style table td {
      padding: 1em;
      vertical-align: top; }
      .written-style table td ul {
        list-style-type: none; }
        .written-style table td ul li {
          padding: 0.2em; }
      .written-style table td li:first-of-type {
        font-weight: bold; }

.logos {
  width: 100%; }
  .logos img {
    max-width: 40px;
    max-height: 20px; }
